mixin NavbarWatch
  nav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3.d-block(data-navbar-on-scroll)
    .container
      a.navbar-brand.d-inline-flex(href='index.html')
        span.text-light.fs-2.fw-bold.ms-2 Watch
      button.navbar-toggler.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse.border-top.border-lg-0.mt-4.mt-lg-0
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item.px-2
            a.nav-link.fw-bold(aria-current='page', href='#collections' class= currentPage === 'index' ? 'active' : false ) WATCHES
          li.nav-item.px-2
            a.nav-link.fw-bold(href='#store') STORE
          li.nav-item.px-2
            a.nav-link.fw-bold(href='#contact') CONTACT
          li.nav-item.px-2
            a.nav-link.fw-bold(href='#header') REQUEST VIRTUAL

        form.d-flex
          a(href="#!").text-primary  
            svg.feather.feather-phone-call(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
              path(d='M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z')
          .ms-4.text-light.fw-bold 1 (800) 862   6772 
