extends layouts/LayoutTheme
include mixins/home/landing/HeroHeader
include mixins/home/landing/Store
include mixins/home/landing/Collection
include mixins/home/landing/Brands
include mixins/home/landing/CustomerTestimonial
include mixins/home/landing/Footer



append variables
  - var currentPage = 'index'

prepend scripts
  
append content
  +HeroHeader
  +Testimonials 
  +Collection
  +Brands
  +CustomerTestimonials
  //- +ShopCategory
  +Footer
