
mixin Brand(image)
  .col-sm-6.col-lg-3&attributes(attributes)
    img(src=`${CWD}assets/img/gallery/${image}`  alt='brands')
mixin Brands
  +Section.py-6.bg-dark
    .row
      +Brand('rado.png').mb-4.mb-lg-0.d-flex.flex-center                 
      +Brand('swatch.png').mb-4.mb-lg-0.d-flex.flex-center                  
      +Brand('omega-1.png').mb-4.mb-lg-0.d-flex.flex-center                                   
      +Brand('zenith.png').mb-4.mb-lg-0.d-flex.flex-center                  