mixin FooterList(...items)
  each item in items
    li.lh-lg
      a.text-800.text-decoration-none.text-uppercase.fw-bold(href='#!')
        =item

mixin Footer
  +Section.py-0.pt-7#contact
    .row
      .col-6.col-sm-4.col-xl-3.mb-3
        h4.lh-lg.fw-bold.text-light WATCH
         
      .col-6.col-sm-4.col-xl-3.mb-3
        h5.lh-lg.fw-bold.text-light MENU
        ul.list-unstyled.mb-md-4.mb-lg-0
          +FooterList('Shipping Info','Refunds','How to Order','How to Track','Size Guides')

      .col-6.col-sm-4.col-xl-3.mb-3
        h5.mb-5
        ul.list-unstyled.mb-md-4.mb-lg-0
          +FooterList('Contact Us','my account')

      .col-12.col-xl-3
        h5.lh-lg.fw-bold.text-light.text-uppercase Signup For our Latest News
        .row.input-group-icon.mb-5
          .col-12
            form.row.row-cols-lg-auto.g-0.align-items-center
              .col-8.col-lg-9
                label.visually-hidden(for='colFormLabel') Username
                .input-group
                  input#colFormLabel.rounded-end-0.form-control(type='email' placeholder='email address')
              .col-4.col-lg-3
                button.btn.btn-primary.rounded-start-0(type='submit') Submit

    .border-bottom.border-700
    .row.flex-center.my-3
      .col-md-6.order-1.order-md-0
        p.my-2.text-800.text-center.text-md-start  Made with&nbsp;
          svg.bi.bi-suit-heart-fill(xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='#EB6453' viewBox='0 0 16 16')
            path(d='M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z')

          |&nbsp;by&nbsp;
          a(href='https://themewagon.com/' target='_blank').text-500 ThemeWagon 
      .col-md-6
        .text-center.text-md-end
          a(href='#!')
            span.me-4(data-feather='facebook')
          a(href='#!')  
            span.me-4(data-feather='instagram')
          a(href='#!')  
            span.me-4(data-feather='youtube')
          a(href='#!')  
            span.me-4(data-feather='twitter')
     
