mixin HeroHeader
  section.py-0#header
    +Background({ image: `${CWD}assets/img/gallery/header-bg.png`, attrs: { style: { 'background-position': 'right top', 'background-size': 'contain'} }, className: '' })
    .container
      .row.align-items-center.min-vh-75.min-vh-xl-100
        .col-md-8.col-lg-6.text-md-start.text-center
          h1.display-1.lh-sm.text-uppercase.text-light Custom Watches For 
            br.d-none.d-xxl-block
            |  Any Occasion
          .pt-4
            a.btn.btn-sm.btn-outline-primary.me-3(href='#')
              | DESIGN &amp; ORDER
            a.btn.btn-sm.btn-outline-primary(href='#')
              | REQUEST VIRTUAL