append variables
  -
    var store= [
      {
        title:'Our store',
        text: 'Memphis clinched a spot in the play-in tournament with the victory, but the fight for seeding continues. The race for the No. 8 spot in the West -- and the safety net of having to win just one of two games to make the playoffs -- could come down to the regular seasons final day, when Memphis and Golden State meet. The good thing for the Grizzlies is they dont have to leave home until that matchup as they have games against Dallas and two against Sacramento before the finale.',
      },
      {
        title:'Our store',
        text: 'Memphis clinched a spot in the play-in tournament with the victory, but the fight for seeding continues. The race for the No. 8 spot in the West -- and the safety net of having to win just one of two games to make the playoffs -- could come down to the regular seasons final day, when Memphis and Golden State meet. The good thing for the Grizzlies is they dont have to leave home until that matchup as they have games against Dallas and two against Sacramento before the finale.',
      },
      {
        title:'Our store',
        text:'Memphis clinched a spot in the play-in tournament with the victory, but the fight for seeding continues. The race for the No. 8 spot in the West -- and the safety net of having to win just one of two games to make the playoffs -- could come down to the regular seasons final day, when Memphis and Golden State meet. The good thing for the Grizzlies is they dont have to leave home until that matchup as they have games against Dallas and two against Sacramento before the finale.',
      },

    ];


mixin Testimonial(config)
  .col-12
    h5.fs-3.fs-lg-5.lh-sm.text-uppercase=config.title
    p.my-4.pe-xl-5=config.text

mixin Testimonials 
  section.bg-black.py-8.pt-0#store
    +Background({ image: `${CWD}assets/img/gallery/store-bg.png`, attrs: { style: { 'background-position': 'left bottom', 'background-size': 'contain'} }, className: '' })
    .container-lg
      .row.flex-center
        .col-6.order-md-0.text-center.text-md-start
        .col-sm-10.col-md-6.col-lg-6.text-center.text-md-start
          .col-4.position-relative.ms-auto.py-5
            a.carousel-control-prev.carousel-icon.z-index-2(href='#carouselExampleFade' role='button' data-bs-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.visually-hidden Previous
            a.carousel-control-next.carousel-icon.z-index-2(href='#carouselExampleFade' role='button' data-bs-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.visually-hidden Next

          #carouselExampleFade.carousel.slide.carousel-fade(data-bs-ride='carousel')
            .carousel-inner
              .carousel-item.active
                .row.h-100
                  +Testimonial(store[0])

              .carousel-item
                .row.h-100
                  +Testimonial(store[1])

              .carousel-item
                .row.h-100
                  +Testimonial(store[2])

